---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: foundryvtt-data-pvc
  namespace: foundryvtt
spec:
  storageClassName: nfs-csi-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 40G
