---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - app.yaml
  - secret.yaml
configMapGenerator:
  - name: cert-manager-values
    namespace: cert-manager
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
