---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wireguard-pvc
  namespace: wireguard
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-csi-storage
  resources:
    requests:
      storage: 1Gi
