---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - app.yaml
  - announcement.yaml
  - ip-pool.yaml
configMapGenerator:
  - name: cilium-values
    namespace: cilium
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
