---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - app.yaml
  - announcement.yaml
  - ip-pool.yaml
configMapGenerator:
  - name: cilium-values
    namespace: kube-system
    files:
      - values.yaml=values.yaml
    options:
      disableNameSuffixHash: true
configurations:
  - kustomizeconfig.yaml
