---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: alloy
  namespace: flux-system
spec:
  url: https://grafana.github.io/helm-charts
  interval: 1m
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
  namespace: monitoring
spec:
  dependsOn:
    - name: loki
    - name: mimir
  interval: 5m0s
  chart:
    spec:
      chart: alloy
      version: 1.2.1
      sourceRef:
        kind: HelmRepository
        name: alloy
        namespace: flux-system
  values:
    alloy:
      clustering:
        enabled: true
      mounts:
        varlog: true
      configMap:
        create: false
        name: alloy-config
        key: config.alloy
