---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mimir
  namespace: monitoring
spec:
  interval: 5m0s
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
      remediateLastFailure: true
  chart:
    spec:
      chart: mimir-distributed
      version: 5.8.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    mimir:
      structuredConfig:
        limits:
          max_global_series_per_user: 2000000
          out_of_order_time_window: 5m
          ingestion_rate: 50000 # samples/sec (increased from default 10000)
          ingestion_burst_size: 500000 # increased from default 200000
        ingester:
          ring:
            replication_factor: 1
        store_gateway:
          sharding_ring:
            replication_factor: 1
    distributor:
      replicas: 1
    alertmanager:
      enabled: false
    ingester:
      replicas: 1
      zoneAwareReplication:
        enabled: false
      persistentVolume:
        size: 50Gi
    store_gateway:
      replicas: 1
      zoneAwareReplication:
        enabled: false
    minio:
      persistence:
        size: 50Gi
      serviceAccount:
        name: "mimir-minio-sa"
