apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: snmp-exporter-synology
  namespace: monitoring
  labels:
    app: snmp-exporter
spec:
  selector:
    matchLabels:
      app: snmp-exporter
  endpoints:
    - port: http
      interval: 60s
      scrapeTimeout: 30s
      path: /snmp
      params:
        module: [synology]
        target: [nas.beagle.casa] # Your Synology hostname
      relabelings:
        - sourceLabels: [__address__]
          targetLabel: __param_target
        - sourceLabels: [__param_target]
          targetLabel: instance
        - targetLabel: __address__
          replacement: snmp-exporter:9116
      metricRelabelings:
        - sourceLabels: [__name__]
          regex: "snmp_.*"
          action: keep
