---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: grafana-operator
spec:
  interval: 5m0s
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    remediation:
      retries: 3
      remediateLastFailure: true
  chart:
    spec:
      chart: grafana-operator
      version: v5.16.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: kube-system
  values:
    # Watch all namespaces
    watchNamespaces: ""
