---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./app.yaml
  - ./httproute.yaml
configMapGenerator:
  - name: jellyfin-values
    namespace: jellyfin
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
