persistence:
  config:
    enabled: true
    storageClass: synology-nfs-storage
  media:
    enabled: false
volumes:
  - name: custom-media
    nfs:
      server: 192.168.30.99
      path: /volume1/Media/Jellyfin
volumeMounts:
  - name: custom-media
    mountPath: /custom-media
