---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 5m
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  path: ./kubernetes/apps/production
  prune: true
  wait: true
  force: true
  timeout: 10m0s
  dependsOn:
    - name: controllers
    - name: network
    - name: monitoring
