---
services:
  nexus:
    image: sonatype/nexus3
    volumes:
      - "/volume2/Nexus/nexus-data:/nexus-data"
    ports:
      - "8081:8081"
      - "8082:8082"
    user: 1027:100
    deploy:
      resources:
        limits:
          memory: 1024M
