---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-state-metrics
  namespace: flux-system
spec:
  url: https://prometheus-community.github.io/helm-charts
  interval: 1m
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-state-metrics
  namespace: monitoring
spec:
  interval: 5m0s
  chart:
    spec:
      chart: kube-state-metrics
      version: 6.3.0
      sourceRef:
        kind: HelmRepository
        name: kube-state-metrics
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: ksm-config
