---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kube-state-metrics
  namespace: flux-system
spec:
  url: https://prometheus-community.github.io/helm-charts
  interval: 1m
