---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaAlertRuleGroup
metadata:
  name: kubernetes-pods
  namespace: monitoring
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  folderRef: "kubernetes"
  interval: 1m
  rules:
    - uid: pod-crashlooping
      title: Pod CrashLooping
      condition: C
      for: 5m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "Pod {{ $labels.namespace }}/{{ $labels.pod }} is crash looping"
        summary: Pod has restarted multiple times in the last 5 minutes
      labels:
        severity: warning
        component: pod
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: rate(kube_pod_container_status_restarts_total[5m]) > 0
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C

    - uid: pod-not-ready
      title: Pod Not Ready
      condition: C
      for: 10m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "Pod {{ $labels.namespace }}/{{ $labels.pod }} has been in {{ $labels.phase }} phase for more than 10 minutes"
        summary: Pod not in Running state
      labels:
        severity: warning
        component: pod
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: kube_pod_status_phase{phase!~"Running|Succeeded"} == 1
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C

    - uid: pod-pending
      title: Pod Stuck Pending
      condition: C
      for: 15m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "Pod {{ $labels.namespace }}/{{ $labels.pod }} has been pending for more than 15 minutes - check PVC or node resources"
        summary: Pod stuck in Pending state
      labels:
        severity: warning
        component: pod
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: kube_pod_status_phase{phase="Pending"} == 1
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C
