---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaAlertRuleGroup
metadata:
  name: kubernetes-resources
  namespace: monitoring
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  folderRef: "kubernetes"
  interval: 1m
  rules:
    - uid: container-memory-high
      title: Container Memory Usage High
      condition: C
      for: 5m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "Container {{ $labels.namespace }}/{{ $labels.pod }}/{{ $labels.container }} is using {{ $value }}% of memory limit"
        summary: Container memory usage is above 90%
      labels:
        severity: warning
        component: resources
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: |
              (container_memory_working_set_bytes{container!="", image!=""}
              / container_spec_memory_limit_bytes{container!="", image!=""}) * 100 > 90
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C

    - uid: container-cpu-high
      title: Container CPU Usage High
      condition: C
      for: 10m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "Container {{ $labels.namespace }}/{{ $labels.pod }}/{{ $labels.container }} is using {{ $value }}% of CPU quota"
        summary: Container CPU usage is above 90%
      labels:
        severity: warning
        component: resources
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: |
              (rate(container_cpu_usage_seconds_total{container!="", image!=""}[5m])
              / container_spec_cpu_quota{container!="", image!=""} * 100000) > 90
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C

    - uid: pvc-almost-full
      title: PersistentVolumeClaim Almost Full
      condition: C
      for: 5m
      noDataState: NoData
      execErrState: Error
      annotations:
        description: "PVC {{ $labels.namespace }}/{{ $labels.persistentvolumeclaim }} is {{ $value }}% full"
        summary: PVC is more than 85% full
      labels:
        severity: warning
        component: storage
      data:
        - refId: A
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: prometheus
          model:
            expr: |
              (kubelet_volume_stats_used_bytes / kubelet_volume_stats_capacity_bytes) * 100 > 85
            refId: A
        - refId: B
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: A
            reducer: last
            type: reduce
            refId: B
        - refId: C
          relativeTimeRange:
            from: 600
            to: 0
          datasourceUid: __expr__
          model:
            expression: B
            conditions:
              - evaluator:
                  params:
                    - 0
                  type: gt
                operator:
                  type: and
                query:
                  params:
                    - C
                type: query
            type: threshold
            refId: C
